# 版本控制
.git
.gitignore
.github

# 构建输出
dist
build
coverage

# 开发工具相关
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
.DS_Store
.idea
.vscode
*.swp
*.swo

# 环境变量文件(会在运行时由Railway提供)
.env
.env.*
!.env.example

# 文档和其他不需要的文件
*.md
LICENSE
docs
test
**/*.spec.ts
**/*.test.ts
